/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* tables */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url('/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('/images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('/images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList {
  border-color: black;
  border-width: 2;
  border-style: solid;
  margin: 10px;
  border-collapse: collapse;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList th {
  background-color: #e6e6e6;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList > tbody > tr:nth-child(even) {
  background-color: #f0f0ff;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList > tbody > tr:nth-child(odd) {
  background-color: white;
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList a:link {
  color: #162169;
}

/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList a:visited {
  color: #662169;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList a:hover {
  color: rgba(222, 33, 80, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList a:active {
  color: #212169;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/tickets.scss */
.ticketList td {
  padding-left: 8px;
  padding-right: 8px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

